*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
h2{
	color: teal;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.block{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  border-radius: 10px; /* 5px rounded corners */
  margin: 10px;
  padding: 10px;
  background-color: bisque;
}

main{
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9,#6cdbdb);
  display: flex;
  align-items: center;
  justify-content: center;

}
.glass{
  background-color: white;
  min-height: 80vh;
  width:60%;
  background: linear-gradient(to right bottom,
      rgba(255,255,255,0.7),
        rgba(255,255,255,0.2));
  border-radius: 2rem;
  display:flex;
}
.dashboard{
  display:flex;
  flex:1;
  flex-direction: column;
  align-items: center;
 justify-content: space-evenly; 
 background: linear-gradient(to right bottom,
 rgba(255,255,255,0.7),
   rgba(255,255,255,0.2));
border-radius: 2rem;}

.activearea{
  flex:2;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inpt{
  color:teal;
  display:flex;
  font-size: 20px; 
  justify-content: space-evenly;
  margin: 10px;
  border: 1px;
}
input{
  font-size: 20px;
  margin-left:12px;
  background-color:transparent;
  border: none;
  color:teal;
  border-bottom: solid 1px teal;
}
.orders{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
}
form{
  text-align: center;
  background-color:rgba(255,255,255,0.5);
}
select{
  background-color: transparent;
  margin-left: 12px;
  border:none;
  color:teal;
}
label{
  font-size: 20px;
  margin-left:12px;
  background-color:transparent;
  border: none;
  color:teal;
  
}
button{
  border:none;
} 
